@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Playfair+Display:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

/* 隐藏滚动条但保持滚动功能 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 拖动时禁止选中文本 */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
